

#new-option-btn {
    display: inline-block;
    margin: 5px;
}
#submit-poll-btn {
    display: inline-block;
    margin: 5px;
}

input {
    display: block;
    margin: 10px auto;
    border-radius: 15px;
    outline: none;
    padding: 4px;
    border: 2px solid #1e90ff;
    transition: .2s;
}
input:focus {
    border: 2px solid springgreen;
}